*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000615;
    font-family: 'Oxanium', sans-serif;
    color: #f1f1f1;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    margin: 40px;
}

.info {
    margin: 40px;
}

.qui p {
    width: 60%;
}

img {
    margin: 10px;
    width: 50px;
}

span {
    text-decoration: line-through;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.message p {
    margin: 40px;
    text-align: center;
    font-size: clamp(30px, 4vw, 40px);
}

@media (max-width: 500px) {
    main {
        overflow-x: hidden;
        /* position: relative; */
        grid-template-columns: 1fr;
    }
}