*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000615;
    font-family: 'Oxanium', sans-serif;
    color: #f1f1f1;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    margin: 40px;
}

.qui h2 {
    margin: -20px 40px 40px;
}

.info {
    margin: 40px;
}

.info a {
    text-decoration: none;
    color: #f1f1f1;
}

.info a:hover {
    color: blueviolet;
}

.qui p {
    width: 60%;
    margin: 40px;
    line-height: 1.6;
}

img {
    margin: 10px;
    width: 50px;
}

span {
    text-decoration: line-through;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.message p {
    margin: 40px;
    text-align: center;
    font-size: clamp(30px, 4vw, 40px);
}

.sources p {
    width: 60%;
    margin: 40px;
}

.back a {
    text-decoration: none;
    margin: 40px;
}

button:hover {
    border: 3px groove blueviolet;
    color: blueviolet;
}

button {
    font-size: 16px;
    padding: 10px 40px;
    border-style: outset;
    font-family: 'Oxanium', sans-serif;
    border-radius: 40px;
    cursor: pointer;
}

ul {
    margin: 50px;
}

li a {
    line-height: 2;
    text-decoration: none;
    color: #f1f1f1;
}

li a:hover {
    color: blueviolet;
}

@media (max-width: 500px) {
    main {
        overflow-x: hidden;
        /* position: relative; */
        grid-template-columns: 1fr;
    }

    .qui p, .sources p {
        width: 80%;
    }
}