/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Oxanium', cursive; */
/* font-family: 'Orbitron', sans-serif; */

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000615;
    font-family: 'Oxanium', sans-serif;
    color: #f1f1f1;
    overflow-x: hidden;

}

/* LOADER */

/* .loader {
    display: none;
} */

.loader {
    overflow: hidden;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.hidden {
    display: none;
}

/* LOADER */


h2 {
    text-transform: uppercase;
    font-size: clamp(30px, 3vw, 40px);
    padding-bottom: 40px;
}

p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.4;
}

ul {
    list-style: none;
}

.hide {
    display: none;
}

.mob {
    display: none;
}

.min {
    min-width: 100%;
    overflow-x: hidden;
}

/* HEADER */

header {
    font-family: 'Press Start 2P', serif;
    height: 100vh;
    background: url(images/matrix-green.png) no-repeat center/cover;
    /* position: relative; */
    opacity: 1;
    overflow-x: hidden;
}

.titre-header {
    position: absolute;
    top: 15%;
    left: 5%;
}

h1{
   text-transform: uppercase;
   font-size: clamp(50px, 8vw, 60px);
   color: #f1f1f1;
}

h1 span {
    position: relative;
}

.lignes {
    position: absolute;
    bottom: 6%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
    position: fixed;
    left: 2.9%;
    bottom: 4%;
    background: url(images/Polygon\ 1.png) no-repeat;
}

.full {
    opacity: 0;
}

.full:hover {
    cursor: pointer;
    opacity: 1;
}

.l1 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}

.l2 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.background-matrix {
    position: relative;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background: url(images/matrix-black.png) no-repeat center/cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    right: 3%;
    top: 34%;
}

.icons li {
    margin: 30px 0;
}

a:hover {
    cursor: pointer;
}

.texte-header {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
}

.under {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.gifs {
    display: grid;
    grid-template-columns: auto auto;
    width: 746px;
    margin: auto;
}

.gifs .image {
    background-size: cover;
    height: 276px;
    width: 373px;
}

.gif1 {
    background: url(images/gif/9-ball---oceans8.gif) no-repeat center/cover;
}

.gif3 {
    background: url(images/gif/trinity-matrix.gif) no-repeat center/cover;
}

.gif4 {
    background: url(images/gif/hacker-kete-libby.gif) no-repeat center/cover;
}

.gifs .image img {
    display: none;
}

.top {
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.top .gif1 {
    opacity: 0;
}

.top .gif1:hover {
    cursor: pointer;
    opacity: 1;
}

.top .gif2 {
    opacity: 0;
}

.top .gif2:hover {
    cursor: pointer;
    opacity: 1;
}

.top .gif3 {
    opacity: 0;
}

.top .gif3:hover {
    cursor: pointer;
    opacity: 1;
}

.top .gif4 {
    opacity: 0;
}

.top .gif4:hover {
    cursor: pointer;
    opacity: 1;
}

/* fin - HEADER */

/* <!----------------------- INTRODUCTION -----------------------> */

.intro {
    /* position: relative; */
    background: url(images/background-intro.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    height: min-height(1332px, auto);
}

.texte-intro {
    /* width: 841px; */
    width: 65%;
    height: min-height(916px, 90%);
    margin: 90px auto 0;
    display: flex;
    flex-direction: column;
}

.texte-intro .border {
    border: #f1f1f1 dashed 18px;
    padding: 50px 70px;
}

.texte-intro .border-bis {
    border: #f1f1f1 solid 18px;
    padding: 50px;
}

.texte-intro .border-bis .border .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr auto;
    grid-template-areas: "a b" "c c";
    gap: 30px;
}

.texte-intro .border-bis .border .grid .a {
    grid-area: a;
}

.texte-intro .border-bis .border .grid .b {
    grid-area: b;
    background: url(images/gif/hackerman.gif) no-repeat center/cover;
    height: 195px;
    width: 281px;
}

.texte-intro .border-bis .border .grid .c {
    grid-area: c;
}

.texte-intro .border-bis .border .grid img {
    display: none;
}

.intro .texte-intro h3 {
    /* position: relative;
    z-index: 4; */
    font-family: 'Press Start 2P', serif;
    font-size: clamp(20px, 3vw, 35px);
    margin: 50px;
    align-self: center;
    text-align: center;
    color: #f1f1f1;
}

.intro a {
    text-decoration: none;
}

.intro .texte-intro h3:hover {
    animation: none;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-image: url(images/glitch/white-glitch.gif);
    background-clip: text;
    cursor: pointer;
    -webkit-text-stroke: #f1f1f1 0.5px;
}

.breathe {
    animation-name: breathe;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes breathe {
    0% {
      color: #f1f1f1;
    }

    50% {
      color: #000615;
      }
    
    100% {
        color: #f1f1f1;
    }
  }

  #modal {
      position: fixed;
      z-index: 4;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.85);
      display: none;
  }

  .modal-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
  }

/* <!----------------------- fin - INTRODUCTION -----------------------> */

/* <!----------------------- Container -----------------------> */

#lisbeth {
    position: relative;
    width: 100%;
    display: flex;
    margin: auto;
}

.background-content {
    position: relative;
    height: 2696px;
    background: url(images/Background-content.png) no-repeat top/cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    gap: 140px;
}

/* <!----------------------- La Hackeuse -----------------------> */

.la-hackeuse {
    /* border: 4px dashed #f1f1f1; */

    grid-area: p1;
    /* position: absolute;
    z-index: 2; */
    margin-top: 80px;
    padding: 40px 60px 0;
    display: grid;
    grid-template-columns: 1fr 65px 1fr;
    grid-template-areas: "ha ha ha" "he hb hb" "hc hc hc";
    letter-spacing: 2px;
    /* align-items: center; */
}

.la-hackeuse .a {
    grid-area: ha;
}

.la-hackeuse .b {
    grid-area: hb;
}

.la-hackeuse .trinity {
    grid-area: hc;
    margin: 150px 0 0;
    width: 584px;
    height: 269px;
}

/* .la-hackeuse .d {
    grid-area: hd;
} */

.la-hackeuse .eye {
    grid-area: he;
    height: 418px;
    width: 388px;
    align-self: center;
    padding-right: 20px;
}

.cube {
    position: absolute;
    width: 400px;
    z-index: 4;
    right: 10%;
    bottom: 55%;
}

/* ------------------- fin - La Hackeuse ------------------- */

/* ------------------- Fascinante ------------------- */

.fascinante {
    /* border: 4px dashed #f1f1f1; */

    grid-area: p2;
    /* margin: 60px 170px 0; */
    padding: 0 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 30px auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "fa fa fa fc" "fb fb . fc";
    letter-spacing: 2px;
}

.fascinante .aa {
    grid-area: fa;
    padding-top: 40px;
}

.fascinante .bb {
    grid-area: fb;
    padding-bottom: 40px;
}

.fascinante .cc {
    grid-area: fc;
    align-self: center;
}

/* ------------------- Fascinante ------------------- */

/* ------------------- CONCLUSION ------------------- */

.conclusion {
    /* border: 4px dashed #f1f1f1; */

    grid-area: p3;
    /* margin: 60px 170px 0; */
    padding: 0 60px 0;
    display: grid;
    grid-template-columns: 1fr 65px 1fr;
    grid-template-areas: "ca ca ca" "cb cc cc";
    letter-spacing: 2px;
    gap: 20px;
}

.conclusion .aaa {
    grid-area: ca;
}

.conclusion .riri {
    grid-area: cb;
    width: 430px;
    height: 430px;
    background: url(images/gif/riri.gif) no-repeat center/cover;
    /* align-self: center; */
}

.conclusion .riri img {
    display: none;
}

.conclusion .ccc {
    grid-area: cc;
}

/* ------------------- fin - CONCLUSION ------------------- */

/* <!----------------------- fin - Container -----------------------> */

/* ----------------------- FOOTER ----------------------- */

footer {
    position: relative;
    margin: 150px 0 50px;
    display: flex;
    justify-content: center;
}

/* ----------------------- fin - FOOTER ----------------------- */

@media (max-width: 1400px) {
    .texte-intro {
        margin: 80px auto 0;
    }

    .texte-intro .border {
        border: #f1f1f1 dashed 12px;
        padding: 40px 60px;
    }
    
    .texte-intro .border-bis {
        border: #f1f1f1 solid 12px;
        padding: 40px;
    }

    .container {
        gap: 60px;
    }

    .la-hackeuse {
        padding: 30px 0 0;
    }

    .fascinante {
        padding: 0;
    }

    .conclusion {
        padding: 0;
    }

    .conclusion .riri {
        margin: 30px;
    }

    .cube {
        bottom: 58%;
    }
}

@media (max-width: 1300px) {
    .fascinante .aa {
        padding-bottom: 20px;
    }

    .fascinante .bb {
        padding-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    h2 {
        padding-bottom: 20px;
    }

    .la-hackeuse .trinity {
        margin: 100px 0 0;
    }

    .fascinante .aa {
        padding-bottom: 0;
    }

    .conclusion .riri {
        width: 360px;
        height: 360px;
    }

    .texte-intro .border-bis .border .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas: "b" "a" "c";
        gap: 20px;
    }

    .texte-intro .border-bis .border h2 {
        text-align: center;
    }

    .texte-intro .border-bis .border .grid .b {
        background-position: top;
        width: 100%;
    }

    /* .texte-intro .border-bis .border .grid .b img {
        display: block;
    } */
}

@media (max-width: 1100px) {
    .texte-intro {
        width: 80%;
    }

    .container {
        width: 82%;
        gap: 92px;
    }

    .cube {
        width: 350px;
        right: 5%;
    }
}

@media (max-width: 1000px) {
    .texte-intro {
        width: 90%;
        margin: 40px auto 0;
    }

    .container {
        width: 90%;
        gap: 92px;
    }

    .cube {
        width: 300px;
        bottom: 60%;
    }
}

@media (max-width: 960px) {
    .la-hackeuse .eye {
        max-height: 418px;
        min-height: 268px;
        max-width: 370px;
        min-width: 293px;
    }

    .la-hackeuse .trinity {
        max-width: 545px;
        min-width: 360px;
        max-height: 269px;
        min-height: 212px;
    }
}

@media (max-width: 930px) {
    .la-hackeuse {
        grid-template-columns: 1fr;
        grid-template-areas: "ha" "hb" "he";
        margin-top: 40px;
    }

    .la-hackeuse .eye {
        /* justify-self: center; */
        margin: 30px;
    }

    .la-hackeuse .trinity {
        display: none;
    }

    .background-content {
        height: auto;
        background: none;
    }

    .cube {
        right: 8%;
        bottom: 62%;
    }
}

@media (max-width: 770px) {
    .fascinante {
        grid-template-columns: 1fr;
        grid-template-areas: "fa" "fb" "fd";
        gap: 20px;
    }

    .fascinante .aa {
        padding-top: 0;
    }

    .fascinante .bb {
        padding-bottom: 0;
    }

    .fascinante .cc {
        display: none;
    }

    .hide {
        grid-area: fd;
        display: block;
        justify-self: center;
        margin: 30px;
        min-width: 360px;
    }

    .conclusion {
        grid-template-columns: 1fr;
        grid-template-areas: "ca" "cc" "cb";
    }

    .conclusion .riri {
        justify-self: center;
    }

    .texte-intro .border {
        border: transparent;
        padding: 0;
    }

    .cube {
        right: 4%;
    }

    .top {
        display: none;
    }

    .under {
        min-width: 360px;
        overflow-x: hidden;
    }

    /* enlever une bordure de l'intro
    mettre toute les div en colonne
    changer la taille des gifs */
}

@media (max-width: 550px) {
    .cube {
        width: 200px;
    }
}

@media (max-width: 500px) {

/* LOADER */

/* .loader {
    overflow: hidden;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
} */

/* fin - LOADER */

    .titre-header {
        position: static;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    header {
        height: auto;
    }

    header .lignes {
        display: none;
    }

    .under {
        height: auto;
    }

    .gifs {
        width: auto;
        height: auto;
    }

    .gifs .image {
        width: 180px;
        height: 180px;
    }

    .background-matrix {
        height: 360px;
    }

    .icons ul {
        display: none;
    }

    .logo {
        display: none;
    }

    .cube {
        display: none;
    }

    .intro .border-bis {
        border: none;
        padding: 0;
    }

    .intro .grid .b {
        display: none;
    }

    .la-hackeuse {
        padding: 0;
    }

    .la-hackeuse .eye {
        width: 293px;
        height: 268px;
        justify-self: center;
    }

    .hide {
        width: 100%;
    }
    
    #lisbeth {
        display: none;
    }

    .mob {
        display: block;
        width: 100%;
    }

    .eye {
        display: none;
    }

    .riri {
        display: none;
    }

    .container {
        gap: 40px;
    }

    .padding {
        padding-top: 20px;
    }

    h2 {
        text-align: center;
    }

    .cube-mobile {
        position: absolute;
        width: fit-content;
        z-index: 99;
        top: 2%;
        right: 2%;
    }

    .cube-mobile img {
        width: 60px;
    }

    /* -------------------- Menu Burger ----------------------- */
    #root {
        position: fixed;
        overflow-x: hidden;
    }

    #topnav_responsive_menu {
        display : block;
        position: absolute;
        right   : 0;
        top     : 11%;
        margin  : 0;
        width   : 50vw;
        height  : 50vh;
    
        z-index : 4;
    
        transform-origin: 0% 0%;
        transform       : translate(200%, 0);
    
        transition: transform 1s ;
    }
    
    /* and let's slide it in from the left */
    #topnav_responsive_menu.open {
        transform: none;
        position: fixed;
    }
    
    #topnav_responsive_menu ul {
        display: flex;
        flex-direction: column;
    
        /* position: absolute;
        margin: 0;
        left: 0;
        top: 0; */
    
        width: 100%;
        /* height: 100%; */
        padding: 40px;
    
        text-align: left;
    
        background:rgba(0, 0, 0, 0.85);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
    }

    #topnav_responsive_menu li {
        font-size: 14px;
        padding: 6% 0;
    }

    #topnav_responsive_menu a {
        color: blueviolet;
    }

    #topnav_responsive_menu a:active {
        color: red;
    }

    .retour {
        text-decoration: none;
        color: blue;
    }
    /* -------------------- Menu Burger ----------------------- */
}